@import "@fortawesome/fontawesome-svg-core/styles";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body { @apply bg-gray-100 text-gray-900; }

  input:disabled { @apply bg-gray-200 text-gray-800; }
  textarea:disabled { @apply bg-gray-200 text-gray-800; }

  ::-webkit-scrollbar { @apply w-0 bg-transparent; }

  .bg-checkerboard-1 {
    background: repeating-conic-gradient(#d0d0d0 0% 25%, transparent 0% 50%)
                50% / 20px 20px;
  }

  .bg-checkerboard-2 {
    background: repeating-conic-gradient(#d0d0d0 0% 25%, transparent 0% 50%)
                50% / 40px 40px;
  }

  .v-scrollbox {
    @apply overflow-y-scroll;

    background: /* Shadow covers */
      linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
      radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;

    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 80px, 100% 80px, 100% 32px, 100% 32px;

    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
  }
}
